.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header .perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.header .title{
    font-family: 'Neue Machina', sans-serif;
    text-align: center;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.information p{
    display: flex;
    flex-direction: row;
    margin: .5rem;
}
.information p::before{
   content:"";
   display: inline-block;
   width: 1rem;
   height: 1rem;
  margin-right: .9rem;
  font-size: 1.125rem;
}
.information .job{
    background-image: url("../img/icons/name.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.information .location{
        background-image: url("../img/icons/localization.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.information .phone{
        background-image: url("../img/icons/whatsapp.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.information .email{
        background-image: url("../img/icons/email.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


@media (min-width: 768px) {
    .header{
     
      display: grid;
      grid-template-areas: "perfil title "
                           "perfil information";
    
    
    }
    .header .perfil{
      grid-area: perfil;
      margin :  0 auto;
  
    }
    .header .title{
      grid-area: title;
      max-width: 300px;
      text-align: left;
    
    }
    .header .information{
      grid-area: information;
   
    }
}